<!DOCTYPE html>
<html>
	<head>
		<title>COVID-19 Current Trends - Corona Vision</title>
		{{>coronavisionStyles}}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		<script src="/js/chart.min.js"></script>
		<script src="/js/corona_chart.js"></script>
		<script src="/js/ml.dist.js"></script>
		<script src="/js/logistic.js"></script>
		<script>
			let country = "{{country}}";
			let province = "{{province}}";
			let county = "{{county}}";
			let charts = {};
			function init() {
				let label = country || "the World";
				if (province) label = province + ", " + label;
				if (county) label = county + ", " + label;

				$("#locationLabel").html(`Location: <i>${label}</i>`);

				$("#countrySelector").val(country);
				$("#provinceSelector").val(province);
				$("#countySelector").val(county);

				let totalChart = newChart("#total-chart", [totalsDataset, trendDataset]);

				totalChart.options.title.text = "Cases in " + label;
				totalChart.update();
				charts['total'] = totalChart;

				let dtotalChart = newChart("#dtotal-chart", [totalsDataset, trendDataset])

				dtotalChart.options.title.text = "Daily cases in " + label;
				dtotalChart.update();
				charts['dtotal'] = dtotalChart;

				let deathsChart = newChart("#deaths-chart", [deathsDataset, trendDataset]);

				deathsChart.options.title.text = "Deaths in " + label;
				deathsChart.update();
				charts['deaths'] = deathsChart;

				let ddeathsChart = newChart("#ddeaths-chart", [deathsDataset, trendDataset]);

				ddeathsChart.options.title.text = "Daily deaths in " + label;
				ddeathsChart.update();
				charts['ddeaths'] = ddeathsChart;

				let recoveredChart = newChart("#recovered-chart", [recoveredDataset, trendDataset]);

				recoveredChart.options.title.text = "Recoveries in " + label;
				recoveredChart.update();
				charts['recovered'] = recoveredChart;

				let drecoveredChart = newChart("#drecovered-chart", [recoveredDataset, trendDataset]);

				drecoveredChart.options.title.text = "Daily recoveries in " + label;
				drecoveredChart.update();
				charts['drecovered'] = drecoveredChart;

				{{!-- let logisticChart = newChart("#predictions-logistic", logisticPredictionDatasets);
				charts['predictions-logistic'] = logisticChart;

				logisticChart.options.title.text = "Fitting growth model...";
				logisticChart.update(); --}}

				$.getJSON(
					"/cases/totals_sequence",
					{country: country, province: province, county: county},
					data => {
						window.data = data;

						// addData(totalChart, data, ['total']); // positive cases/tests
						addData(totalChart, data, ['total']);
						addTrendline(totalChart);

						addData(dtotalChart, data, ['dtotal']);
						addTrendline(dtotalChart);

						addData(deathsChart, data, ['deaths']);
						addTrendline(deathsChart);

						addData(ddeathsChart, data, ['ddeaths']);
						addTrendline(ddeathsChart);

						addData(recoveredChart, data, ['recovered']);
						addTrendline(recoveredChart);

						addData(drecoveredChart, data, ['drecovered']);
						addTrendline(drecoveredChart);

						{{!-- addData(logisticChart, data, ['total']);

						let extendedDates = extendDates([...data.entry_date]);
						logisticChart.options.title.text = "Logistic curve fit for " + label;
						logisticChart.data.labels = extendedDates;

						let x = datesToNumbers(stringsToDates(data.entry_date));
						let y = data['total'];
						let fitParams = fit(x, y);
						
						setLogParams(fitParams.parameterValues); --}}
					}
				);
			}

			{{!-- function setLogParams(params) {
				let logisticChart = charts['predictions-logistic'];
				let logFunction = logisticFunction(params);
				let logisticData = logisticChart.data.datasets[1];
				logisticData.data = []
				for (let day = 0; day < logisticChart.data.labels.length; day++) {
					logisticData.data.push(logFunction(day));
				}
				setTimeout(() => {logisticChart.update()}, 500);
			}

			function logPredict(fit, x) {
				return fit.MAX/(1 + Math.exp(-(x - fit.T_INF)/(fit.T_RISE + fit.LIN * x)));
			} --}}

			function isoDate(date) {
				if (typeof date == 'string') {
					return date;
				} else {
					return date.toISOString().substring(0, 10);
				}
			}

			function setCountry() {
				window.location = "?country=" + $("#countrySelector").val() + "&date={{entry_date}}";
			}

			function setProvince() {
				window.location = "?country=" + country + "&province=" + $("#provinceSelector").val() + "&date={{entry_date}}";
			}

			function setCounty() {
				window.location = "?country=" + country + "&province=" + province + "&county=" + $("#countySelector").val() + "&date={{entry_date}}";
			}

			function getChart(id) {
				return charts[id];
			}
		</script>
	</head>
	<body onload="init()">
		{{>coronavisionNavbar}}
		<div class="container p-2">
			<div class="text-center">
				<h1>Current Coronavirus Trends</h1>
				<span id="locationLabel"></span>
			</div>
			<div class="box d-flex flex-column">
				<a id="download-chart" style="display: none;"></a>
                <div id="chart-container" class="p-2 d-flex flex-column" style="flex: 1;">
					<div class="d-flex flex-column">
						Select a location:
						<select id="countrySelector" class="custom-input-color form-control m-2" onchange="setCountry()">
							<option value="">World</option>
							<option value="United States">United States</option>
							{{#each countries}}
								<option value="{{this}}">{{this}}</option>
							{{/each}}
						</select>
						{{#if provinces}}
							<select id="provinceSelector" class="custom-input-color form-control m-2" onchange="setProvince()">
								<option value="">Nationwide</option>
								{{#each provinces}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						{{/if}}
						{{#if counties}}
							<select id="countySelector" class="custom-input-color form-control m-2" onchange="setCounty()">
								<option value="">Statewide</option>
								{{#each counties}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						{{/if}}
					</div>
					<div>
						<canvas id="total-chart"></canvas>

						<div>Scale <small>(change Y-axis type)</small></div>
						<select onchange="scale(getChart('total'), this.value)" name="scale-type" class="custom-input-color form-control my-2">
							<option value="linear">Linear</option>
							<option value="logarithmic">Logarithmic</option>
						</select>
					</div>
					<div>
						<canvas id="dtotal-chart"></canvas>

						<div>Scale <small>(change Y-axis type)</small></div>
						<select onchange="scale(getChart('dtotal'), this.value)" name="scale-type" class="custom-input-color form-control my-2">
							<option value="linear">Linear</option>
							<option value="logarithmic">Logarithmic</option>
						</select>
					</div>

					<div>
						<canvas id="deaths-chart"></canvas>

						<div>Scale <small>(change Y-axis type)</small></div>
						<select onchange="scale(getChart('deaths'), this.value)" name="scale-type" class="custom-input-color form-control my-2">
							<option value="linear">Linear</option>
							<option value="logarithmic">Logarithmic</option>
						</select>
					</div>
					<div>
						<canvas id="ddeaths-chart"></canvas>

						<div>Scale <small>(change Y-axis type)</small></div>
						<select onchange="scale(getChart('ddeaths'), this.value)" name="scale-type" class="custom-input-color form-control my-2">
							<option value="linear">Linear</option>
							<option value="logarithmic">Logarithmic</option>
						</select>
					</div>

					<div>
						<canvas id="recovered-chart"></canvas>

						<div>Scale <small>(change Y-axis type)</small></div>
						<select onchange="scale(getChart('recovered'), this.value)" name="scale-type" class="custom-input-color form-control my-2">
							<option value="linear">Linear</option>
							<option value="logarithmic">Logarithmic</option>
						</select>
					</div>
					<div>
						<canvas id="drecovered-chart"></canvas>

						<div>Scale <small>(change Y-axis type)</small></div>
						<select onchange="scale(getChart('drecovered'), this.value)" name="scale-type" class="custom-input-color form-control my-2">
							<option value="linear">Linear</option>
							<option value="logarithmic">Logarithmic</option>
						</select>
					</div>

					{{!-- <canvas id="predictions-logistic"></canvas>					
					<div>Scale <small>(change Y-axis type)</small></div>
					<select onchange="scale(getChart('predictions-logistic'), this.value)" name="scale-type" class="custom-input-color form-control my-2">
						<option value="linear">Linear</option>
						<option value="logarithmic">Logarithmic</option>
					</select>
					<span>
						The logistic regression chart models population growth.</i>.
					</span> --}}
					<div>
						<a href="/charts/info">More info about the charts</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
