<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision</title>
		{{> styles}}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		<script src="/js/corona_datatables.js"></script>
		<script src="/js/corona_globals.js"></script>
		<script src="/js/corona_chart.js"></script>
		<script src="/js/corona_stats.js"></script>
		<script src="/js/corona_util.js"></script>
		<script src="/js/selector.js"></script>
		
		<script>
			let pieChart = Chart(

			);
		</script>
		
		<script>
			function init() {
				chart = new_chart("chart");
				init_chart_options("{{admin0}}", "{{admin1}}", "{{admin2}}");
				load_chart("{{admin0}}", "{{admin1}}", "{{admin2}}");
				$("#date").val("{{entry_date}}");
			}

			function update_date() {
				let win_loc = "?country={{admin0}}";
				{{#if admin1}}
					win_loc += "&province={{admin1}}";
				{{/if}}
				{{#if admin2}}
					win_loc += "&admin2={{admin2}}";
				{{/if}}
				win_loc += "&date=" + $("#date").val();
				window.location = win_loc;
			}
		</script>
		<style type="text/css">
			.stats-row {
				display: flex;
				align-items: center;
			}
			.stats-row i {
				flex: 1;
				text-align: center;
			}
			.stats-row span {
				flex: 2;
			}
			.stats-label {
				text-align: right;
			}
			.stats-row a {
				color: inherit;
				text-decoration: underline;
			}
			.stats-detail {
				font-size: 0.75em;
			}
		</style>
	</head>
	<body onload="init()">
		{{> navbar}}
		<div class="d-flex flex-column">
			<div class="column-container">
				<div class="box" style="flex: 1;">
					<div id="stats-info" class="lato" style="display: flex; flex-direction: column; font-size: 2rem;">
						<span id="stats-label" style="text-align: center;">{{label}}</span>
						<div style="text-align: center; font-size: 0.5em;"><a href="/sources">Sources</a></div>
						<div style="text-align: center; font-size: 0.5em; display: flex; align-items: center;">
							<div style="flex: 2; text-align: right;">
								{{{ prev_day_link }}}
							</div>
							<div style="flex: 1;" id="date-label">
								<select class="custom-input-color my-2" id="date" onchange="update_date()" style="border-radius: 0.25rem;">
									{{#each entry_dates}}
										<option value="{{this}}">{{this}}</option>
									{{/each}}
								</select>
							</div>
							<div style="flex: 2; text-align: left;">
								{{{ next_day_link }}}
							</div>
						</div>
						{{#if go_back_link}}
							<div style="text-align: center; font-size: 0.5em;">{{{go_back_link}}}</div>
						{{/if}}
						{{#with location_datapoint}}
							{{#if total}}
							<div class="stats-row">
								<span class="stats-label">Cases</span>
								<i class="fas fa-viruses"></i>
								<span id="stats-total" class="font-weight-bold" style="color: #f3a513">
									<a href="{{source_total}}">{{total}}</a>
								</span>
							</div>
							{{/if}}
							
							{{#if dtotal}}
							<div class="stats-row">
								<span class="stats-label">Cases today</span>
								<i class="fas fa-clock"></i>
								<span id="stats-dtotal" class="font-weight-bold" style="color: #f3a513">
									{{dtotal}}
								</span>
							</div>
							{{/if}}

							{{#if active}}
							<div class="stats-row">
								<span class="stats-label">Active</span>
								<i class="fas fa-head-side-cough"></i>
								<span id="stats-active" class="font-weight-bold" style="color: #f58020">
									{{active}}
									<span class="stats-detail">({{ percent active total }})</span>
								</span>
							</div>
							{{/if}}

							{{#if serious}}
							<div class="stats-row">
								<span class="stats-label">Severe</span>
								<i class="fas fa-hospital-user"></i>
								<span id="stats-serious" class="font-weight-bold" style="color: #f75027">
									<a href="{{source_serious}}">{{serious}}</a>
									<span class="stats-detail">({{ percent serious total }})</span>
								</span>
							</div>
							{{/if}}

							{{#if deaths}}
							<div class="stats-row">
								<span class="stats-label">Deaths</span>
								<i class="fas fa-skull"></i>
								<span id="stats-deaths" class="font-weight-bold" style="color: #f83e3e">
									<a href="{{source_deaths}}">{{deaths}}</a>
									<span class="stats-detail">({{ percent deaths total }})</span>
								</span>
							</div>
							{{/if}}

							{{#if recovered}}
							<div class="stats-row">
								<span class="stats-label">Recoveries</span>
								<i class="far fa-smile"></i>
								<span id="stats-recovered" class="font-weight-bold" style="color: #3dff7a">
									<a href="{{source_recovered}}">{{recovered}}</a>
									<span class="stats-detail">({{ percent recovered total }})</span>
								</span>
							</div>
							{{/if}}

							{{#if tests}}
							<div class="stats-row">
								<span class="stats-label">Tests</span>
								<i class="fas fa-vials"></i>
								<span id="stats-tests" class="font-weight-bold" style="color: #3d87ff">
									<a href="{{source_tests}}">{{tests}}</a>
									<span class="stats-detail">({{ percent total tests }} positive)</span>
								</span>
							</div>
							{{/if}}

							{{#if dtests}}
							<div class="stats-row">
								<span class="stats-label">Tests Today</span>
								<i class="fas fa-clock"></i>
								<span id="stats-dtests" class="font-weight-bold" style="color: #3d87ff">{{dtests}}</span>
							</div>
							{{/if}}
						{{/with}}
					</div>
				</div>
			</div>
			<div class="column-container">
				<div id="chart-container" class="p-2 d-flex flex-column" style="flex: 1;">
					<canvas id="chart"></canvas>
					<a id="download-chart" style="display: none;"></a>
					<button class="btn custom-button-color my-2" onclick="download_canvas()">
						Save Image
					</button>
					{{>chart_options}}
					<div>
						<a href="/charts_info">More info about the charts</a>
						<a href="/disclaimer">Disclaimer about predictions</a>
					</div>
				</div>
				<table id="datatable" class="data-container" style="flex: 1;">
					<thead class="border-bottom pos-sticky datatable-head custom-bg">
						<tr>
							<th>
								Click on any stat to see its source.
							</th>
							<th>
								Last updated: {{last_update}}.
							</th>
							<th>
								Daily counts reset at UTC-0.
							</th>
						</tr>
						<tr class="d-flex py-2" style="display: flex; align-items: center; text-align: center;">
							<th style="flex: 2;">
								<input type="text" onkeyup="filter_table()" class="custom-input-color form-control" placeholder="Search for location" id="locationSearch">
							</th>
						</tr>
						<tr class="d-flex py-2" style="font-size: 0.9rem;">
							<th style="flex: 1;">#</th>
							<th style="flex: 2;">Updated</th>
							<th style="flex: 4;">Location</th>
							<th style="flex: 4;">Total</th>
							{{!-- <th style="flex: 1;">New</th> --}}
							<th style="flex: 2;">Recovered</th>
							<th style="flex: 2;">Deaths</th>
							{{!-- <th style="flex: 1;">New</th> --}}
							{{!-- <th style="flex: 1;">Tests</th> --}}
							<th style="flex: 2;">Severe</th>
							{{!-- <th style="flex: 1;">Source</th> --}}
						</tr>
					</thead>
					<tbody id="tablebody">
						{{{table_rows}}}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>