<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision - COVID-19 Predictions</title>
		{{>styles}}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		<script src="/js/chart.min.js"></script>
		<script>
			let country = "{{country}}";
			let province = "{{province}}";
			let county = "{{county}}";
			function init() {
				$("#countrySelector").val(country);
				$("#provinceSelector").val(province);
				$("#countySelector").val(county);
				let chartStyles = {
					responsive: true,
					title: {
						display: true,
						text: "Loading...",
						fontColor: "#f5f5f5",
						fontSize: 30,
						fontFamily: "Lato"
					},
					legend: {
						display: true,
						labels: { fontColor: "#f5f5f5" }
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [
							{
								gridLines: { color: "#f5f5f5" },
								ticks: { fontColor: "#f5f5f5" }
							}
						],
						yAxes: [
							{
								gridLines: { color: "#f5f5f5" },
								ticks: { fontColor: "#f5f5f5"}
							}
						]
					}
				};

				let plugins = [{
					beforeDraw: function (chart, easing) {
						var ctx = chart.chart.ctx;

						ctx.save();
						ctx.fillStyle = "#212121";
						ctx.fillRect(0, 0, $("canvas")[0].width, $("canvas")[0].height);
						ctx.restore();
					}
				}];

				let logisticPredictionDatasets = {
					labels: [],
					datasets: [
						{
							label: 'Total cases',
							backgroundColor: 'yellow',
							borderColor: 'yellow',
							fill: false,
							data: [],
							lineTension: 0
						},
						{
							label: 'Recovered',
							backgroundColor: 'green',
							borderColor: 'green',
							fill: false,
							data: [],
							lineTension: 0
						},
						{
							label: 'Deaths',
							backgroundColor: 'red',
							borderColor: 'red',
							fill: false,
							data: [],
							lineTension: 0
						},
						{
							label: 'Prediction',
							backgroundColor: 'grey',
							borderColor: 'grey',
							fill: false,
							data: [],
							lineTension: 0,
							hidden: false
						}
					]
				};

				let convPredictionDatasets = {
					labels: [],
					datasets: [
						{
							label: 'Total cases',
							backgroundColor: 'yellow',
							borderColor: 'yellow',
							fill: false,
							data: [],
							lineTension: 0
						},
						{
							label: 'Recovered',
							backgroundColor: 'green',
							borderColor: 'green',
							fill: false,
							data: [],
							lineTension: 0
						},
						{
							label: 'Deaths',
							backgroundColor: 'red',
							borderColor: 'red',
							fill: false,
							data: [],
							lineTension: 0
						},
						{
							label: 'Prediction',
							backgroundColor: 'grey',
							borderColor: 'grey',
							fill: false,
							data: [],
							lineTension: 0,
							hidden: false
						}
					]
				};

				let logisticChart = new Chart($("#predictions-logistic")[0].getContext('2d'), {
					type: 'line',
					data: logisticPredictionDatasets,
					plugins: plugins,
					options: chartStyles
				});

				logisticChart.options.title.text = "Generating a population growth model...";
				logisticChart.update();

				let convolutionalChart = new Chart($("#predictions-conv")[0].getContext('2d'), {
					type: 'line',
					data: convPredictionDatasets,
					plugins: plugins,
					options: chartStyles
				});

				convolutionalChart.options.title.text = "Analyzing recent trends to create predictions...";
				convolutionalChart.update();

				let locationData = {country: "{{country}}", province: "{{province}}", county: "{{county}}"};
				let label = locationData.country || "the World";
				let convDataAdded = false;

				if (locationData.province) label = locationData.province + ", " + label;
				if (locationData.county) label = locationData.county + ", " + label;

				$.getJSON(
					"/cases/totals_sequence",
					locationData,
					(data) => {
						addData(logisticChart, data, locationData);
						addData(convolutionalChart, data, locationData);
						let extendedDates = extendDates(data.entry_date);
						$.getJSON(
							"//prediction-dot-tactile-welder-255113.uc.r.appspot.com/predict/log",
							locationData,
							(fit) => {
								logisticChart.options.title.text = "Logistic predictions for " + label;
								logisticChart.data.labels = extendedDates;
								logisticChart.data.datasets[3].data = [...logisticChart.data.datasets[0].data]
								let originalLength = logisticChart.data.datasets[3].data.length;
								for (let day = 0; day < originalLength; day++) {
									logisticChart.data.datasets[3].data.push(logPredict(fit, day + originalLength));
								}
								logisticChart.update();
							}
						);

						$.getJSON(
							"//prediction-dot-tactile-welder-255113.uc.r.appspot.com/predict/conv",
							locationData,
							({y}) => {

								convolutionalChart.options.title.text = "Artifical Intelligence predictions for " + label;
								convolutionalChart.data.labels = extendedDates;
								convolutionalChart.data.datasets[3].data = y;
								convolutionalChart.update();
								convDataAdded = true;
							}
						);
					}
				);
			}

			function logPredict(fit, x) {
				return fit.MAX/(1 + Math.exp(-(x - fit.T_INF)/fit.T_RISE));
			}

			function addData(chart, data) {
				let datasets = ['total', 'recovered', 'deaths'];
				for (let i in datasets) {
					chart.data.datasets[i].data = data[datasets[i]];
				}
			}

			function isoDate(date) {
				if (typeof date == 'string') {
					return date;
				} else {
					return date.toISOString().substring(0, 10);
				}
			}

			function extendDates(dates) {
				let numDays = dates.length;
				let newDates = [...dates];
				let current = dates[numDays - 1];
				if (typeof current == 'string') {
					current = new Date(current);
				}
				for (let i = 0; i < numDays; i++) {
					current.setUTCDate(current.getUTCDate() + 1);
					dates.push(isoDate(current));
				}
				return dates;
			}

			function setCountry() {
				window.location = "?country=" + $("#countrySelector").val() + "&date={{entry_date}}";
			}

			function setProvince() {
				window.location = "?country=" + country + "&province=" + $("#provinceSelector").val() + "&date={{entry_date}}";
			}

			function setCounty() {
				window.location = "?country=" + country + "&province=" + province + "&county=" + $("#countySelector").val() + "&date={{entry_date}}";
			}
		</script>
	</head>
	<body onload="init()">
		{{>navbar}}
		<div class="container p-2">
			<div class="box d-flex flex-column">
                <span class="text-center font-weight-bold">Please note: predictions will not always be accurate, please do not base decisions off of them.</span>
				<canvas id="predictions-logistic"></canvas><br/>
				<canvas id="predictions-conv"></canvas><br/>
				<span>
					The logistic regression chart models population growth, and the artificial intelligence chart predicts
					future patterns by using <i>1D convolutional neural networks</i>.
				</span>
				<div>
					<a href="/charts_info">More info about the charts</a> | <a href="/disclaimer">Disclaimer about predictions</a>
				</div>
				<div class="d-flex flex-column">
					Select a location:
					<select id="countrySelector" class="custom-input-color form-control m-2" onchange="setCountry()">
						<option value="">Worldwide</option>
						{{#each countries}}
							<option value="{{this.country}}">{{this.country}}</option>
						{{/each}}
					</select>
					{{#if provinces}}
						<select id="provinceSelector" class="custom-input-color form-control m-2" onchange="setProvince()">
							<option value="">Nationwide</option>
							{{#each provinces}}
								<option value="{{this.province}}">{{this.province}}</option>
							{{/each}}
						</select>
					{{/if}}
					{{#if counties}}
						<select id="countySelector" class="custom-input-color form-control m-2" onchange="setCounty()">
							<option value="">Statewide</option>
							{{#each counties}}
								<option value="{{this.county}}">{{this.county}}</option>
							{{/each}}
						</select>
					{{/if}}
				</div>
			</div>
		</div>
	</body>
</html>
