<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision</title>
		{{> styles}}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		<script src="/js/corona_datatables.js"></script>
		<script src="/js/corona_globals.js"></script>
		<script src="/js/corona_chart.js"></script>
		<script src="/js/corona_stats.js"></script>
		<script src="/js/corona_util.js"></script>
		<script src="/js/selector.js"></script>
		<script>
			{{!-- let pieChart = Chart(

			); --}}
		</script>
		<script>
			let country = "{{country}}";
			let province = "{{province}}";
			let county = "{{county}}";
			function init() {
				let chart = new_chart("chart");
				chart.smoothing = 0;
				chart.dataType = "total";
				initChartOptions(chart);
				$("#date").val("{{entry_date}}");

				let label = country || "World";
				if (province) label = province + ", " + label;
				if (county) label = county + ", " + label;

				$.getJSON(
					"/cases/totals_sequence",
					{
						country: country,
						province: province,
						county: county
					},
					function(data) {
						chart.originalData = data;
						chart.options.title.text = 'Cases in ' + label;
						chart.data.labels = data.entry_date;
						redrawChart(chart);
					}
				)
			}

			function update_date() {
				window.location = "?country={{country}}&province={{province}}&county={{county}}&date=" + $("#date").val();
			}
		</script>
		<style type="text/css">
			.stats-row {
				display: flex;
				align-items: center;
			}
			.stats-row i {
				flex: 1;
				text-align: center;
			}
			.stats-row span {
				flex: 2;
			}
			.stats-label {
				text-align: right;
			}
			.stats-row a {
				color: inherit;
				text-decoration: underline;
			}
			.stats-detail {
				font-size: 0.75em;
			}
		</style>
	</head>
	<body onload="init()">
		{{> navbar}}
		<div class="d-flex flex-column">
			{{#if error}}
				<div class="box">
					Sorry, there was an error.<br/>
					Code: <code>{{error}}</code>.<br/>
					If this error persists, email us at coronavisiontracker@gmail.com, and we'll get it fixed as soon as possible!
				</div>
			{{else}}
				<div class="column-container">
					<div class="box" style="flex: 1;">
						<div id="stats-info" class="lato" style="display: flex; flex-direction: column; font-size: 2rem;">
							<span id="stats-label" style="text-align: center;">{{label}}</span>
							<div style="text-align: center; font-size: 0.5em;"><a href="/sources">Sources</a></div>
							<div style="text-align: center; font-size: 0.5em; display: flex; align-items: center;">
								<div style="flex: 2; text-align: right;">
									{{{ prev_day_link }}}
								</div>
								<div style="flex: 1;" id="date-label">
									<select class="custom-input-color my-2" id="date" onchange="update_date()" style="border-radius: 0.25rem;">
										{{#each entry_dates}}
											<option value="{{this}}">{{this}}</option>
										{{/each}}
									</select>
								</div>
								<div style="flex: 2; text-align: left;">
									{{{ next_day_link }}}
								</div>
							</div>
							{{#if go_back_link}}
								<div style="text-align: center; font-size: 0.5em;">{{{go_back_link}}}</div>
							{{/if}}
							{{#with location_datapoint}}
								{{#pos total}}
								<div class="stats-row">
									<span class="stats-label">Cases</span>
									<i class="fas fa-viruses"></i>
									<span id="stats-total" class="font-weight-bold" style="color: #f3a513">
										<a href="{{source_total}}">{{total}}</a>
										{{#if cases_hr}}
											<span class="stats-detail">({{cases_hr}})</span>
										{{/if}}
									</span>
								</div>
								{{/pos}}
								
								{{#pos dtotal}}
								<div class="stats-row">
									<span class="stats-label">Cases today</span>
									<i class="fas fa-clock"></i>
									<span id="stats-dtotal" class="font-weight-bold" style="color: #f3a513">
										{{dtotal}}
									</span>
								</div>
								{{/pos}}

								{{#pos active}}
								<div class="stats-row">
									<span class="stats-label">Active</span>
									<i class="fas fa-head-side-cough"></i>
									<span id="stats-active" class="font-weight-bold" style="color: #f58020">
										{{active}}
										<span class="stats-detail">({{ percent active total }})</span>
									</span>
								</div>
								{{/pos}}

								{{#pos serious}}
								<div class="stats-row">
									<span class="stats-label">Severe</span>
									<i class="fas fa-hospital-user"></i>
									<span id="stats-serious" class="font-weight-bold" style="color: #f75027">
										<a href="{{source_serious}}">{{serious}}</a>
										<span class="stats-detail">({{ percent serious total }})</span>
									</span>
								</div>
								{{/pos}}

								{{#pos deaths}}
								<div class="stats-row">
									<span class="stats-label">Deaths</span>
									<i class="fas fa-skull"></i>
									<span id="stats-deaths" class="font-weight-bold" style="color: #f83e3e">
										<a href="{{source_deaths}}">{{deaths}}</a>
										<span class="stats-detail">({{ percent deaths total }})</span>
									</span>
								</div>
								{{/pos}}

								{{#pos recovered}}
								<div class="stats-row">
									<span class="stats-label">Recoveries</span>
									<i class="far fa-smile"></i>
									<span id="stats-recovered" class="font-weight-bold" style="color: #3dff7a">
										<a href="{{source_recovered}}">{{recovered}}</a>
										<span class="stats-detail">({{ percent recovered total }})</span>
									</span>
								</div>
								{{/pos}}

								{{#pos tests}}
								<div class="stats-row">
									<span class="stats-label">Tests</span>
									<i class="fas fa-vials"></i>
									<span id="stats-tests" class="font-weight-bold" style="color: #3d87ff">
										<a href="{{source_tests}}">{{tests}}</a>
										<span class="stats-detail">({{ percent total tests }} positive)</span>
									</span>
								</div>
								{{/pos}}

								{{#pos dtests}}
								<div class="stats-row">
									<span class="stats-label">Tests Today</span>
									<i class="fas fa-clock"></i>
									<span id="stats-dtests" class="font-weight-bold" style="color: #3d87ff">{{dtests}}</span>
								</div>
								{{/pos}}

								<div class="stats-row">
									<span class="stats-label">Data changed</span>
									<i class="fas fa-hourglass-half"></i>
									<span class="font-weight-bold" >{{last_update}}</span>
								</div>
							{{/with}}
						</div>
					</div>
				</div>
				<div class="column-container">
					<div id="chart-container" class="p-2 d-flex flex-column" style="flex: 1;">
						<canvas id="chart"></canvas>
						<a id="download-chart" style="display: none;"></a>
						<button class="btn custom-button-color my-2" onclick="download_canvas()">
							Save Image
						</button>
						<div>Scale <small>(change Y-axis type)</small></div>
						<select name="scale-type" class="custom-input-color form-control my-2">
							<option value="linear">Linear</option>
							<option value="logarithmic">Logarithmic</option>
						</select>
						<div>Data type <small>(display daily change of each statistic or total)</small></div>
						<select name="chart-type" class="custom-input-color form-control my-2">
							<option value="total">Total</option>
							<option value="daily-change">Daily change</option>
						</select>
						<div>Smoothing factor <small>(average N days to the left and right, filling in blanks with nearest value)</small></div>
						<input type="number" id="smoothing" class="custom-input-color form-control my-2" value=0>
						<span>
							To see predictions for this country, click <a href="/future?country={{country}}&province={{province}}&county={{county}}">here</a>.
						</span>
						<div>
							<a href="/charts_info">More info about the charts</a><br/>
							<a href="/disclaimer">Disclaimer about predictions</a>
						</div>
					</div>
					<table id="datatable" class="data-container" style="flex: 1;">
						<thead class="border-bottom pos-sticky datatable-head custom-bg">
							<tr>
								<th>
									Click on any stat to see its source.
								</th>
								<th>
									Data changed: {{last_update}}.
								</th>
								<th>
									Daily counts reset at UTC-0.
								</th>
							</tr>
							<tr class="d-flex py-2" style="display: flex; align-items: center; text-align: center;">
								<th style="flex: 2;">
									<input type="text" onkeyup="filter_table()" class="custom-input-color form-control" placeholder="Search for location" id="locationSearch">
								</th>
							</tr>
							<tr class="d-flex py-2" style="font-size: 0.9rem;">
								<th style="flex: 1;">#</th>
								<th style="flex: 2;">Updated</th>
								<th style="flex: 4;">Location</th>
								<th style="flex: 4;">Total</th>
								<th style="flex: 2;">Recovered</th>
								<th style="flex: 2;">Deaths</th>
								<th style="flex: 2;">Severe</th>
							</tr>
						</thead>
						<tbody id="tablebody">
							{{{table_rows}}}
						</tbody>
					</table>
				</div>
			{{/if}}
		</div>
	</body>
</html>