<html>
	<head>
		{{>coronavisionStyles}}
		<title>Recent Coronavirus News - Corona Vision</title>
		<style>
			#category-container div {
				flex: 1;
				text-align: center;
			}
		</style>
	</head>
	<body>
		{{>coronavisionNavbar}}
		<div class="container p-2">
			<div class="mx-auto text-center">
				<h1 style="margin-bottom: 0.1rem;">COVID-19 News</h1>
				<small style="padding-bottom: 0.5rem;">Updated hourly</small>
				<a href="http://newsapi.org/" style="margin-left: 1rem;" class="small">Powered by News API</a>
			</div>
			<div class="box d-flex flex-column" id="news-column">
				<div class="text-center small">Categories</div>
				<div class="d-flex" id="category-container">
					<div><a href="?category=general">General</a></div>
					<div><a href="?category=business">Business</a></div>
					<div><a href="?category=health">Health</a></div>
					<div><a href="?category=science">Science</a></div>
					<div><a href="?category=technology">Technology</a></div>
					{{!-- 
					These categories aren't related to the virus
					<a href="?category=sports">Sports</a>
					<a href="?category=entertainment">Entertainment</a>
					--}}
				</div>
				{{!-- 
				Structure of a NewsAPI response
				{
					status,
					articles: [
						{
							source: {
								id: source id
								name: source name
							}
							author: link
							title: title
							description: description
							url: url
							urlToImage: url
							publishedAt: date (YYYY-MM-DDT__:__:__Z)
							content: content of article
						}
						...
					]
				}

				Plan:
				-----------------------
				| Image | Headline    |
				| Image | Description |
				| Image | Description |
				|-------+-------------|
				| Image | Headline    |
				| Image | Description |
				| Image | Description |
				-----------------------
						......
				 --}}
				{{#if articles}}
					{{#each articles}}
						{{#if this.description }}
							<div class="d-flex mt-1" style="border-top: 1px solid var(--color-fg-light, #f5f5f5);">
								<div style="flex: 1; padding: 1rem;">
									{{#if this.urlToImage }}
										<a href="{{ this.url }}">
											<img src="{{ this.urlToImage }}" style="width: 100%;">
										</a>
									{{/if}}
								</div>
								<div style="flex: 3; padding: 1rem;">
									<a class="font-weight-bold" href="{{ this.url }}">{{ this.title }}</a><br/>
									<span>{{ this.description }}</span>
								</div>
							</div>
						{{/if}}
					{{/each}}
				{{else}}
					It looks like there's no articles. Maybe there was an error?
				{{/if}}
			</div>
		</div>
	</body>
</html>